@import "var.scss";

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: white;
    display: none;
  }
  
  .circle {
    width: 40px;
    height: 40px;
    background: radial-gradient(circle, rgba(147,86,220,1) 0%, rgba(214,108,219,1) 83%, rgba(255,121,218,1) 100%);
    border-radius: 50%;
    margin: 40px;
    opacity: 1;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .circle1 {
    animation-name: circleAnimation;
    animation-delay: 0s;
  }
  
  .circle2 {
    animation-name: circleAnimation;
    animation-delay: 250ms;
  }
  
  .circle3 {
    animation-name: circleAnimation;
    animation-delay: 500ms;
  }
  
  @keyframes circleAnimation {
    0%, 50%, 100% {
      transform: scale(1);
      opacity: 1;
    }
    
    25% {
      transform: scale(1.5);
      opacity: 0.7;
    }
  }
  
  @keyframes innercircleAnimation {
    0%, 50%, 100% {
      transform: scale(1);
    }
    
    25% {
      transform: scale(0.1);
    }
  }
  
  .inner-circle {
    width: 65%;
    height: 65%;
    background: radial-gradient(circle, rgba(255,121,218,1) 0%, rgba(187,99,219,1) 87%, rgba(147,86,220,1) 100%);
    border-radius: 50%;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  
  .circle1 .inner-circle {
    animation-name: innercircleAnimation;
    animation-delay: 0s;
  }
  
  .circle2 .inner-circle {
    animation-name: innercircleAnimation;
    animation-delay: 250ms;
  }
  
  .circle3 .inner-circle {
    animation-name: innercircleAnimation;
    animation-delay: 500ms;
  }