@import "var.scss";

@media only screen and (min-width: 768px) {
    .accueil__titre {
        font-size: 2.5em;
    }

    .fonctionnement {
        &__cartes {
        @include flexbox(row);
        gap: 35px;
        justify-content: center;
        }
    }

    .fonctionnement--desktop, .restaurants--desktop {
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
    }
 
    .restaurants__cartes {
       @include flexbox(row);
       flex-wrap: wrap;
       justify-content: space-between;
    }

    .card {
        height: 251px;
        width: 45vw;
    }

    .header-menu, .header-index {
        height: 96px;
    }

    .couverture {
        height: 390px;
    }

    .partie-menu {
        max-width: 1055px;
        margin-left: auto;
        margin-right: auto;

        &__top {
            justify-content: center;
            gap: 25px;
        }

        &__section {
            max-width: 634px;
            margin-right: auto;
            margin-left: auto;
        }
    }
}

@media only screen and (min-width: 885px) {
    footer {
        height: 114px;
        @include flexbox(row-reverse);
        align-items: flex-end;
        gap: 40px;

        .footer__logo {
            padding-left: 50px;
            padding-right: 40px;
            padding-bottom: 0px;
        }

        ul {
            @include flexbox(row);
        }

        .liste1 {
            order: 2;
            display: flex;
            gap: 12px;
        }

        .liste2 {
            order: 1;
            display: flex;
            gap: 12px;
        }
    }
}

@media only screen and (min-width: 1060px) {
    .card {
        width: 498px;
        margin-bottom: 30px;
    }
}