@import "var.scss";

@media (min-width: 768px) {
    .accueil__titre {
        font-size: 2.5em;
    }

    .fonctionnement {
        &__cartes {
        @include flexbox(row);
        gap: 35px;
        justify-content: center;
        }
    }

    .fonctionnement--desktop, .restaurants--desktop {
        max-width: 1090px;
        margin-left: auto;
        margin-right: auto;
    }
 
    .restaurants__cartes {
       @include flexbox(row);
       flex-wrap: wrap;
       justify-content: space-between;
    }

    .card {
        height: 174px;
        width: 46vw;
    }

    .couverture {
        height: 500px;
    }
}

@media (min-width: 885px) {
    footer {
        height: 114px;
        @include flexbox(row-reverse);
        align-items: flex-end;

        .footer__logo {
            padding-left: 90px;
            padding-right: 45px;
            padding-bottom: 0px;
        }

        ul {
            @include flexbox(row);
        }

        .liste1 {
            order: 2;
            display: flex;
            gap: 12px;
        }

        .liste2 {
            order: 1;
            display: flex;
            gap: 12px;
            padding-left: 50px;
        }
    }
}

@media (min-width: 1060px) {
    .card {
        width: 498px;
        margin-bottom: 30px;
    }
}