@import "var.scss";

* {
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header-index {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
    display: flex;
    justify-content: center;
    position: relative;
    z-index: 2;

    .logo {
        height: 30px;
        margin-top: 23px;
        margin-bottom: 12px;
    }
}

.localisation {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    gap: 17px;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    &__icone {
        height: 16px;
    }

    &__paragraphe{
        font-weight: 500;
    }
}

.accueil {
    @include flexbox(column);
    align-items: center;
    background: #F7F7F7;
    gap: 20px;

    &__titre, &__sous-titre {
        text-align: center;
    }

    &__titre {
        @include font('roboto', 1.8em, 700);
        margin-top: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }

    &__sous-titre {
        @include font('roboto', 1.1em, 300);
        padding-left: 25px;
        padding-right: 25px;
    }

    &__bouton {
        @include button(218px);
        margin-top: 15px;
        margin-bottom: 60px;
    }
}

.index-h2 {
    @include font('roboto', 1.8em, 700);
    padding-bottom: 30px;
}

.fonctionnement {
    padding: 50px 20px;

    &__cartes {
        @include flexbox(column);
        gap: 20px;
        padding-left: 12px;

        &__article {
            position: relative;
            width: 100%;
        }
    }
}

.contenu {
    @include flexbox(row);
    align-items: center;
    gap: 20px;
    padding-left: 35px;
    @include cards;
    height: 72px;
    font-weight: 500;

    &__icone {
        height: 20px;
    }

    &__icone2 {
        height: 16px;
    }

    &__icone3 {
        height: 18px;
    }
}

.fonctionnement__numero {
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    left: -12px;
    top: 33%;
    @include numero;
}

.restaurants {
    background: #F7F7F7;
    padding: 50px 20px;

    &__cartes {
        @include flexbox(column);
        gap: 20px;

        &__nouveau {
            position: relative;
        }
    }
}

.card {
    border-radius: 15px;
    box-shadow: $card-shadow;
    background-color: white;
    height: 250px;

    img {
        height: 70%;
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {
        @include flexbox(row);
        justify-content: space-between;
        align-items: center;
        height: 30%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 8px;

        &__text {
            @include flexbox(column);
            justify-content: center;
            gap: 5px;
        }
    }
}

.like {
    background-image: url(../images/coeur-vide.png);
    background-color: transparent;
    width: 23px;
    height: 22px;
    border: none;
    margin-right: 5px;
    background-repeat: no-repeat;

}

.nouveau {
    background: $light-green;
    color: $green;
    border: none;
    border-radius: 2px;
    padding: 7px 9px;
    position : absolute;
    right: 4%;
    top: 5%;
    
}

.index-h3 {
    @include font('roboto', 1.1em, 700);
}

.index-card-text {
    @include font('roboto', 1.1em, 300);
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background: #353535;
    color: white;
    padding: 25px;

    .footer__logo {
        @include font('shrikhand', 1.2em, 400);
        padding-bottom: 15px;
    }

    ul {
        @include flexbox(column);
        gap: 7px;
        list-style: none;
    }
}

.footer-icone {
    padding-right: 11px;
}