@import "var.scss";

* {
    font-family: 'roboto', sans-serif;
    font-size: 1em;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-width: 320px;
}

.header-index {
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15); 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;

    .logo {
        height: 30px;
        margin-top: 23px;
        margin-bottom: 12px;
    }
}

.localisation {
    background: #EAEAEA;
    display: flex;
    justify-content: center;
    height: 50px;
    align-items: center;
    gap: 17px;
    position: relative;
    z-index: 1;
    padding-left: 20px;
    padding-right: 20px;

    &__paragraphe{
        font-weight: 500;
    }
}

.accueil {
    @include flexbox(column);
    align-items: center;
    background: #F7F7F7;
    gap: 20px;

    &__titre, &__sous-titre {
        text-align: center;
    }

    &__titre {
        @include font('roboto', 1.8em, 700);
        margin-top: 40px;
        margin-left: 25px;
        margin-right: 25px;
    }

    &__sous-titre {
        @include font('roboto', 1.1em, 300);
        padding-left: 25px;
        padding-right: 25px;
    }

    &__btn {
        @include button(218px);
        margin-top: 15px;
        margin-bottom: 60px;
        position: relative;
        z-index: 1;
        
        &:hover {
            &::after {
                opacity: 1;
            }
        }

        &::after {
           content: "";
           @include button-hover;
           transition: opacity 500ms;
           box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15)
        }
    }
}

.index-h2 {
    @include font('roboto', 1.8em, 700);
    padding-bottom: 30px;
}

.fonctionnement {
    padding: 50px 20px;

    &__cartes {
        @include flexbox(column);
        gap: 20px;
        padding-left: 12px;

        &__article {
            position: relative;
            width: 100%;
        }
    }
}

.contenu {
    @include flexbox(row);
    align-items: center;
    gap: 20px;
    padding-left: 35px;
    @include cards;
    height: 72px;
    font-weight: 500;
}

.fonctionnement__numero {
    display: flex;
    justify-content: center;
    align-items: center;
    position : absolute;
    left: -12px;
    top: 33%;
    @include numero;
}

.restaurants {
    background: #F7F7F7;
    padding: 50px 20px;

    &__cards {
        @include flexbox(column);
        gap: 20px;

        &__package {
            position: relative;
        }
    }
}

.card {
    border-radius: 15px;
    box-shadow: $card-shadow;
    background-color: white;
    height: 250px;

    img {
        height: 70%;
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }

    &__content {
        @include flexbox(column);
        justify-content: space-around;
        height: 30%;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 17px;
        padding-top: 10px;

        &__title {
            @include font('roboto', 1.2em, 700);
        }

        &__text {
            @include font('roboto', 1.1em, 300);
        }
    }
}

.like {
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 1;
    cursor: pointer;

    &__btn {
        border: none;
        background-color: transparent;
        position: relative;
    }


    &::after {
        content: "";
        @include like-hover;
    }

    &:hover {
        &::after {
            opacity: 1;
        }
    }
}


.like-icon {
    position: absolute;
    bottom: 10%;
    right: 5%;
    z-index: 1;
    cursor: pointer;

    &__btn {
        border: none;
        background-color: transparent;

        &__2 {
            position: absolute;
            bottom: 10px;
            left: 0;
            border: none;
            background-color: transparent;
            opacity: 0;
        }
    }


    &:hover {
        .boutooon {
            opacity: 1;
        }
    }
}

.nouveau {
    background: $light-green;
    color: $green;
    border: none;
    border-radius: 2px;
    padding: 7px 9px;
    position : absolute;
    right: 4%;
    top: 5%;
    
}

a {
    text-decoration: none;
    color: black;
}

footer {
    background: #353535;
    color: white;
    padding: 25px;

    .footer__logo {
        @include font('shrikhand', 1.2em, 400);
        padding-bottom: 7px;
    }

    ul {
        @include flexbox(column);
        gap: 7px;
        list-style: none;
        padding-top: 7px;
    }

    .liste1 {
        font-weight: 500;
    }

    .liste2 {
        font-weight: 400;
    }
}

.footer-icone1 {
    margin-right: 16px;
}

.footer-icone2 {
    padding-right: 11px;
}

.contact-mail {
    color: white;
}