@import "var.scss";

.header-menu {
    position: relative;
    height: 63px;
    display: flex;
    justify-content: center;
    align-items: center;

   &__retour {
        position: absolute;
        left: 25px;
        top: 50%;
    }

    &__logo {
        height: 30px;
    }
}

.couverture {
    object-fit: cover;
    width: 100%;
    height: 275px;
    position: relative;
    z-index: 1;
}

.partie-menu {
    background: #F7F7F7;
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    margin-top: -45px;
    position : relative;
    z-index: 2;
    padding-top: 40px;
    width: 100%;
    overflow: hidden;

    &__top {
        @include flexbox(row);
        justify-content: space-between;
        padding-right: 20px;
        padding-left: 13px;
        align-items: center;

        &__titre {
            @include font('shrikhand', 1.8em, 400);
        }

        &__like {
            position: relative;
            border: none;
            background: transparent;
            cursor: pointer;
            font-size: 25px;
            

            &::after {
                content: "\f004";
                font-family: "Font Awesome 6 free"; 
                font-weight: 700;
                opacity: 0;
                font-size: 25px;
                -webkit-background-clip: text;
                background-clip: text;
                -webkit-text-fill-color: transparent;
                background-image: $gradient;
                position: absolute;
                bottom: 0;
                left: 0;
                top: -1px;
                right: 0;
                opacity: 0;
            }

            &:hover {
                &::after {
                    opacity: 1;
                }

                .bouton-like {
                    opacity: 0;
                }
            }
        }
    }

    &__section {
        margin-right: 13px;
        margin-left: 13px;
        animation: slide 0.5s ease forwards; 
        opacity: 0;
    }

    &__end {
        text-align: center;

        &__btn {
            margin-top: 40px;
            margin-bottom: 40px;
            position: relative;
            z-index: 1;
            @include button(186px); 

            &:hover {
                &::after {
                    opacity: 1;
                }
            }
    
            &::after {
               content: "";
               @include button-hover;
               transition: opacity 500ms;
               box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15)
            }
        }
    }

}


.delay1 {
    animation-delay: 200ms;
  }
  
  .delay2 {
    animation-delay: 400ms;
  }
  
  .delay3 {
    animation-delay: 600ms;
  }

.menu-h2 {
    @include font('roboto', 1em, 300);
    padding-top: 40px;
}

.line {
    display: block;
    margin-top: 6px;
    height: 3px;
    width: 40px;
    background: $light-green;
}

.menu {
    @include flexbox(column);
    gap: 12px;
    padding-top: 15px;

    &__cartes {
        @include cards;
        @include flexbox(row);
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        height: 70px;
        padding: 15px;
        position: relative;
        overflow: hidden;
        cursor: pointer;

        &:hover::after {
            transform: translateX(-59px);
        }

        &:hover &__prix {
            width: 129px;
        }

        &::after {
            content: "\f058";
            height: 72px;
            font-family: "Font Awesome 6 free"; 
            font-weight: 900;
            color: white;
            background-color: $light-green;
            position: absolute;
            right: -60px;
            width: 59px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: transform 400ms ease;
        }

        &__h3 {
            @include font('roboto', 1.1em, 500);
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &__texte {
            @include flexbox(column);
            overflow: hidden;
            gap: 8px;
            text-overflow: hidden;
            white-space: nowrap;
            flex-grow: 1;
            width: 100%;
        }

        &__prix {
            display: flex;
            height: 70px;
            align-items: flex-end;
            justify-content: flex-start;
            padding-left: 10px;
            padding-bottom: 10px;
            width: 30px;
            transition: width 400ms ease;
        }
    }
}

.prix {
    @include font('roboto', 0.9em, 700);
}

.menu-card-text {
    @include font('roboto', 0.9, 300);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}