@keyframes slide {
  from {
    opacity: 0;
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes go {
  0% {
    opacity: 1;
    width: 100%;
  }
  100% {
    opacity: 0;
    width: 0%;
  }
}
@keyframes glide {
  from {
    transform: translateX(0px);
  }
  to {
    transform: translateX(-59px);
  }
}
.header-menu {
  position: relative;
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-menu__retour {
  position: absolute;
  left: 25px;
  top: 50%;
}
.header-menu__logo {
  height: 30px;
}

.couverture {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 275px;
  position: relative;
  z-index: 1;
}

.partie-menu {
  background: #F7F7F7;
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  margin-top: -45px;
  position: relative;
  z-index: 2;
  padding-top: 40px;
  width: 100%;
  overflow: hidden;
}
.partie-menu__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 20px;
  padding-left: 13px;
  align-items: center;
}
.partie-menu__top__titre {
  font-family: "shrikhand";
  font-size: 1.8em;
  font-weight: 400;
}
.partie-menu__top__like {
  position: relative;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 25px;
}
.partie-menu__top__like::after {
  content: "\f004";
  font-family: "Font Awesome 6 free";
  font-weight: 700;
  opacity: 0;
  font-size: 25px;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(193.33deg, #9356DC -11.44%, #FF79DA 123.93%);
  position: absolute;
  bottom: 0;
  left: 0;
  top: 1px;
  right: 0;
  opacity: 0;
}
.partie-menu__top__like:hover::after {
  opacity: 1;
}
.partie-menu__top__like:hover .bouton-like {
  opacity: 0;
}
.partie-menu__section {
  margin-right: 13px;
  margin-left: 13px;
  animation: slide 0.5s ease forwards;
  opacity: 0;
}
.partie-menu__end {
  text-align: center;
}
.partie-menu__end__btn {
  margin-top: 40px;
  margin-bottom: 40px;
  position: relative;
  z-index: 1;
  color: white;
  border-radius: 25px;
  background: linear-gradient(#FF79DA -20%, #9356DC);
  border: none;
  padding: 15px;
  width: 186px;
  font-size: 1em;
  font-weight: 500;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}
.partie-menu__end__btn:hover::after {
  opacity: 1;
}
.partie-menu__end__btn::after {
  content: "";
  position: absolute;
  border-radius: 25px;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  background: linear-gradient(#ff98e2, #a36fe1);
  transition: opacity 500ms;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.15);
}

.delay1 {
  animation-delay: 200ms;
}

.delay2 {
  animation-delay: 400ms;
}

.delay3 {
  animation-delay: 600ms;
}

.menu-h2 {
  font-family: "roboto";
  font-size: 1em;
  font-weight: 300;
  padding-top: 40px;
}

.line {
  display: block;
  margin-top: 6px;
  height: 3px;
  width: 40px;
  background: #99e2d0;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-top: 15px;
}
.menu__cartes {
  box-shadow: 0px 4.01149px 15.0431px rgba(0, 0, 0, 0.1);
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  height: 70px;
  padding: 15px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.menu__cartes:hover::after {
  transform: translateX(-59px);
}
.menu__cartes:hover .menu__cartes__prix {
  width: 8rem;
}
.menu__cartes:hover .prix {
  transform: translateX(-59px);
}
.menu__cartes::after {
  content: "\f058";
  height: 72px;
  font-family: "Font Awesome 6 free";
  font-weight: 900;
  color: white;
  background-color: #99e2d0;
  position: absolute;
  right: -60px;
  width: 59px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 400ms ease;
}
.menu__cartes__h3 {
  font-family: "roboto";
  font-size: 1.1em;
  font-weight: 500;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menu__cartes__texte {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  gap: 8px;
  text-overflow: ellipsis;
  white-space: nowrap;
  flex-grow: 1;
  width: 100%;
}
.menu__cartes__prix {
  display: flex;
  height: 70px;
  align-items: flex-end;
  justify-content: flex-end;
  padding-left: 10px;
  padding-bottom: 10px;
  width: 2rem;
  transition-property: width;
  transition-delay: 100ms;
}

.prix {
  font-family: "roboto";
  font-size: 0.9em;
  font-weight: 700;
  transition: transform 400ms ease;
}

.menu-card-text {
  font-family: "roboto";
  font-size: 0.9em;
  font-weight: 300;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}/*# sourceMappingURL=style-restaurants.css.map */